*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.manohar {
    box-shadow: 2px 2px 2px #323f4b;
}
.manu {
    color: #009688;
    font-size:30px;
    font-weight:1000;
    letter-spacing: 1px;
}
.logo {
    color: #000;
    font-size:30px;
    font-weight:100;
    letter-spacing: 3px;

}
#home {
    color: rgb(27, 25, 25);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right:10px;
}
#clothings {
    color: rgb(27, 25, 25);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right:10px;
}
#acc {
    color: rgb(27, 25, 25);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right:10px;

}
.img01 {
    width:100%
}
.heading01 {
    font-size:40px;
    font-weight:300;
    letter-spacing: 2px;
}
.heading02 {
    margin-top: 20px;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 2px;
    color: rgb(27, 25, 25);
}
.heading03 {
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(27, 25, 25);
}
.span01 {
    color: #009688;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 5px;
}
.para01 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
    letter-spacing: 0.5px;
}
.small01 {
    width: 15%;
    height:20%;
    margin-top: 20px;
    border-radius:6px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border : 0px solid #fff;
    
}
.button01 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: #009688;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
    margin-top: 50px;
}
.bg-container01 {
    background-color: #000;
    background-size: cover;
    padding: 20px;
    
}
.footer01 {
    color: #dcdcdc;
    font-size:16px;
    font-weight:bold;
}
li {
    list-style-type: none;
    color: #b8b8b8;
    font-size:12px;
    margin-bottom: 12px;
    font-weight:500;
    margin-top: 15px;
}
/*.small01:active {
    border: 3px solid #009688;
}
.small01:hover {
    border: 3px solid #009688;
}
*/
